<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  {% load assets i18n %}

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" />
  <link rel="shortcut icon" href="{{ STATIC_URL }}icon.png" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ STATIC_URL }}/apple-touch-icon.png" />

  <meta name='title' content="{% block meta_title %}{% endblock %}">
	<meta name="description" content="Quickly edit and publish a PDF invoice">

  <title>{% block pagetitle %}{% trans 'invoiceto.me &middot; Make a free invoice PDF online' %}{% endblock %}</title>

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" type="text/css" media="screen, projection">
  {% block extracss %}{% endblock extracss %}
  {% assets "all_css" %}
    <style type="text/css" media="screen">
        /* <![CDATA[ */
        @import '{{ ASSET_URL }}';
        /* ]]> */
    </style>
  {% endassets %}
  <script src="{{ STATIC_URL }}js/modernizr.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</head>

<body>

  <div class="wrapper">
  {% include 'include/_header.html' %}
  {% block content %}
  {% include 'include/_order_form.html' %}
  {% endblock %}
  </div>

  {% assets  "all_js" %}
  {% endassets %}

  {% block extrajs %}{% endblock %}

</body>
</html>
