html {
	background:#27a url(../images/scuff.png);
    position: relative;
    /*
	margin-top: -50px;
	min-width: 960px;
	margin-bottom: -500px;
    */
}

body {
	background: none;
	font-family: "Helvetica Neue", Arial, sans-serif;
    position: relative;
    height:100%;
    min-height: 100%;
    /*
	transform: scale(0.855);
	-moz-transform: scale(0.855);
	-webkit-transform: scale(0.855);
	_zoom: 0.84;
    */
}

#invoice {
	position: relative;
	opacity: 0.99;
	width: 860px;
	padding:45px;
	background: #fcffff url(../images/paper.png);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid white;
	-webkit-box-shadow: -1px -1px 5px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
	overflow: hidden;
}

input  {
	border:0;
	border: 1px;
	background: none;
	padding:0;
	font-size:15px;
	color: #222;
/*	font-family: times;*/
	font-family: "Helvetica Neue",arial,sans;
	line-height:23px;
}

input, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background: transparent;
    border: 1px;
}

#header input {
/*	width: 400px;*/
}

#header {
}

#company {
	font-size: 25px;
	font-weight: bold;
	line-height:56px;
	height:56px;
	/*width:420px !important;*/
	}

input#title {
	font-size: 35px;
	font-weight: bold;
	height:56px;
	margin-bottom:0;
}

input.rr {
	text-align: right;
}

#address, #meta {
	margin-top: 15px;
	}

.client {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	}

textarea.notes {
	padding: 20px 70px 0px 70px;
	font-family: "Helvetica Neue",arial,sans;
	font-size: 14px;
	background:none;
	line-height:21px;
	border:0;
	resize: none;
	font-size: 15px;
	margin: 10px auto 0px auto;
	height:10px;
	}

/*______________________________Table______________________________*/

thead th input, tfoot th input, tfoot th.noteditable {background:rgba(0,0,0,0.1);}
tbody tr:nth-child(even) input, tbody tr:nth-child(even) .noteditable {background:rgba(0,0,0,0.05);}

#total input, #total .noteditable {
	background: rgba(0,0,0,0.2);
	}

table input {
	margin:0 !important;
	}

table td, table th, table input {
	height: 25px !important;
	}

tfoot tr th {
	border-top: 1px solid #aaa;
	}

th input {
	font-weight: bold;
	}

table input {
	width:100% !important;
	margin-right: -10px;
	padding: 0!important;
	margin-top: -1px;
	line-height: 24px;
	text-indent: 10px;
	font-size: 14px;
	font-family: "Helvetica Neue",arial,sans;
	}

td, thead th {
	border-right: 1px solid #aaa;
	}

td:nth-child(4), td:nth-child(5), th:nth-child(4), th:nth-child(5) {
	border-right: 0;
	}

td:last-child, th:last-child {
	border-left: 1px solid #aaa;
	}

table {
	border: 1px solid #aaa;
	}

table {
	font-size: 14px;
	}

tfoot {
	font-style:normal;
	}

tbody td:last-child {
	font-weight: bold;
	}

/*______________________________Chrome boxes______________________________*/

.tools {
	width:255px;
	padding:15px 15px 15px 25px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size:14px;
	text-align:left;
	position:relative;
	}
.tools p {
	text-shadow: rgba(0,0,0,0.5) 1px 1px;
	color:white;
}

#one {
    position: absolute;
    right: 43px;
    width: 185px;
    top: 100px;
    z-index: 4;
}

#two {
    position: absolute;
    right: 43px;
    width: 185px;
    top: 250px;
    z-index: 4;
    padding: 10px;
}

#three {
    position: absolute;
    right: 43px;
    width: 185px;
    top: 600px;
    z-index: 4;
}

.tools h5 {
	margin-bottom:10px;
	color:white;
	}

.tools p {
	margin-bottom: 0;
	}

.tools a:link, .tools a:visited {
	color: #6ce;
	font-weight: bold;
	text-decoration:none;
	}

.tools a:hover, .tools a:active {
	color: white;
	text-shadow: #000 1px 1px;
	}

.tools ul {
	margin:0;
	padding:0;
	list-style:none;
	}

/*______________________________Editing Styles______________________________*/

textarea:focus, input:focus {
	background: rgba(255,255,100,0.4)!important;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,100,0.5)), to(rgba(255,255,100,0.1)))!important;
	color: #000;
	text-shadow: #fff 1px 1px;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
	}
.ll:focus {
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,100,0.5)), to(rgba(255,255,100,0.2)))!important;
	}
.rr:focus {
	background: -webkit-gradient(linear, right top, left top, from(rgba(255,255,100,0.5)), to(rgba(255,255,100,0.2)))!important;
	}

.noteditable {
	text-indent: 10px;
	}

.noteditable:hover {
	text-shadow: white 1px 1px;
	width:10px !important;
	cursor: not-allowed;
	}

.noteditable:hover:first-line {
	line-height: 0;
	color: rgba(0,0,0,0);
	font-size:1px;
	text-shadow: none;
	}

#taxrate:hover:after, #taxrate:focus:after {
	content: "(Include the tax rate percentage here for calculation)";
	float:right;
	margin-top:-24px;
	margin-right:40px;
	font-weight: normal;
	color: #27a;
	font-family: monospace;
	overflow: hidden;
	}


.noteditable:hover:after {
		clear: both;
		float: left;
		content: "Auto";
		font-weight: normal;
		color: #27a;
		font-family: monospace;
	}


input {
	overflow: hidden;
	}


#invoice {
    margin: 50px auto 0;
}

.btn-custom {
	text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
	border-top: 1px solid rgba(0,0,0,0.1);
	background:#27a ;
	background-image: linear-gradient(top, #0ac, #27a);
	background-image: -moz-linear-gradient(top, #0ac, #27a);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0ac), to(#27a));
	margin-top:1px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.8);

}
a.button:link, a.button:visited {
	display: inline-block;
	padding: 10px 20px 8px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
	margin-left:0;
	position: relative;
	font-size:14px;
	cursor: pointer;
	margin-top:1px;
    text-align: center;
    width:160px;

}

a.button:hover{
	background-image: linear-gradient(top, #0ac, #0ac);
	background-image: -moz-linear-gradient(top, #0ac, #0ac);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0ac), to(#0ac));
}


a.button:active {
	margin-top:2px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	}

#ad {
	color: #fcffff;
	position:absolute;
	top:-140px;
	left:-115px;
	display:block;
	width: 600px;
	text-align:center;
	margin-left:34%;
	text-indent:20px;
	font-size: 14px;
	font-weight:bold;
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
	height:55px;
    line-height:180%;
}

#ad span {
	text-transform: uppercase;
	font-size: 11px;
	vertical-align: middle;
	margin-right:5px;
}

.wrapper {
    margin: 20px auto 40px;
}

#login-block {
}
.greetings {
    color: #fff;
}
.logout-link {
    font-size: 15px;
    color: #6ce;
    font-weight: 700;
    text-decoration: none;
}
.logout-link:hover {
    color: #fff;
}

#invoice-list {
    position: absolute;
    top: 100px;
    left: 0px;
    z-index:10;
    border-radius: 0;
    width: 260px;
    overflow: hidden;
    padding: 20px 10px 10px 10px;
}

#invoice-list a i {
    font-weight: 100;
    background: #fdefde;
    border-radius: 3px;
    padding: 3px;
}

#invoice-list a.active i {
    color: #404040;
}
#invoice-history {
    width: 860px;
    margin: 0 auto;
}
#invoice-history .list-group {
    margin-right:0;
}
#invoice-history h3 {
    color: #fff;
}
.toggler {
    border-radius: 0 3px 3px 0;
    margin-left: -30px;
    margin-right: 10px;
    padding: 5px 10px 5px 0;
}

.list-group a:link,
.list-group a:visited {
    text-shadow: none;
    color:#555;
}
.list-group a.active {
    color:#fff;
}
.list-group a:hover {
    color:#555;
    text-shadow: none;
}
