{% load i18n %}
<div class="aside">
  {% if user.is_authenticated %}
  <div class="tools" id="invoice-list">
    <a id="new-invoice" onclick="app.invoice.fire('new');return false;" href="#" class="button btn-success">{% trans 'Create New' %}</a>
    <!--
    <a class="toggler btn btn-default pull-left">
      <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
    -->
    <h5>{% trans 'My invoices' %}</h5>
    <div class="list-group"></div>
  </div>
  {% endif %}

  <div class="tools" id="one">
    <h5>
      <a href="/">invoiceto.me</a>
    </h5>
    <p>{% trans '&larr; Edit the fields to make an invoice' %}</p>
  </div>

  <div id="aside-actions"></div>
  <!--
  -->
</div>

