{% load i18n %}
<div class="aside">
  {% if user.is_authenticated %}
  <div class="tools" id="invoice-list">
    <h5>{% trans 'My invoices' %}</h5>

    <div class="list-group"></div>
  </div>
  {% endif %}

  <div class="tools" id="one">
    <h5>
      <a href="/">invoiceto.me</a>
    </h5>
    <p>{% trans '&larr; Edit the fields to make an invoice' %}</p>
  </div>
  <div class="tools" id="two">
    <h5>{% trans 'Finished editing?' %}</h5>
    <ul class="nav nav-pills nav-stacked">
      <li><a id="get-pdf" onclick="app.invoice.fire('generate_pdf');return false;" class="button" href="#">{% trans 'Get PDF' %}</a></li>
      {% if user.is_authenticated %}
      <li><a id="save-invoice" onclick="app.invoice.fire('save');return false;" class="button" href="#">{% trans 'Save' %}</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="tools" id="three">
    <h5>{% trans 'Resize table' %}</h5>
    <ul>
      <li>
        <a id="addRow" onclick="app.tasks.fire('add');return false;" href="#" title="test">
          <span style="padding-right:5px;">+</span> {% trans 'Add row' %}
        </a>
      </li>
      <li>
      <a id="delRow" onclick="app.tasks.fire('destroy');return false;" href="#">
        <span style="padding-right:5px;padding-left:1px;">&ndash;</span> {% trans 'Delete row' %}
      </a>
      </li>
    </ul>
  </div>
  <!--
  -->
</div>

