{% load i18n %}
<div id="invoice" class="">

  <div id="header">
    <input id="company" class="span-12 ll" value="{% trans 'Your Company Name' %}" />
    <input id="title" class="span-12 last rr" value="{% trans 'INVOICE' %}" />
    <div id="address" class="span-12">
      <input class="ll" value="{% trans '123 Your Street' %}" />
      <input class="ll" value="{% trans 'Your Town' %}" />
      <input class="ll" value="{% trans 'Address Line 3' %}" />
      <input style="margin-top:20px;" class="ll" value="(123) 456 789" />
      <input style="margin-bottom:30px;" class="ll" value="email@yourcompany.com" />
    </div>
    <div id="meta" class="span-12 last">
      <input id="date" class="rr" value="12/11/2010" />
      <input class="rr" value="{% trans 'Invoice #2334889' %}" />
      <input class="rr" value="{% trans 'PO 456001200' %}" />
      <input style="margin-top:20px;" class="client rr" value="{% trans 'Att: Ms. Jane Doe' %}" />
      <input style="margin-bottom:30px;" class="client rr" value="{% trans 'Client Company Name' %}" />
    </div>
  </div>

  <hr>

  <textarea class="notes" id="textone" cols="95" rows="1">{% blocktrans %}Dear Ms. Jane Doe,

  Please find below a cost-breakdown for the recent work completed. Please make payment at your earliest convenience, and do not hesitate to contact me with any questions.

  Many thanks,
  Your Name{% endblocktrans %}</textarea>


  <table class="span-24 last">
    <thead>
    <tr>
      <th class="span-2" ><input value="#" /></th>
      <th class="span-10"><input value="{% trans 'Item Description' %}" /></th>
        <th class="span-4"><input value="{% trans 'Quantity' %}" /></th>
        <th class="span-4"><input value="{% trans 'Unit price (€)' %}" /></th>
        <th class="span-4"><input value="{% trans 'Total (€)' %}" /></th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td class="noteditable" title="{% trans 'This field is done automatically' %}">1</td>
        <td><input value="{% trans 'Supporting of in-house project (hours worked)' %}" /></td>
        <td><input value="40" /></td>
        <td><input value="125" /></td>
        <td class="noteditable" title="{% trans 'This field is done automatically' %}"></td>
      </tr>
      <tr>
        <td class="noteditable" title="{% trans 'This field is done automatically' %}">2</td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td class="noteditable" title="{% trans 'This field is done automatically' %}"></td>
      </tr>
      <tr>
        <td class="noteditable" title="{% trans 'This field is done automatically' %}">3</td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td class="noteditable" title="{% trans 'This field is done automatically' %}"></td>
      </tr>
      <tr>
        <td class="noteditable" title="{% trans 'This field is done automatically' %}">4</td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td class="noteditable" title="{% trans 'This field is done automatically' %}"></td>
      </tr>
      <tr>
        <td class="noteditable" title="{% trans 'This field is done automatically' %}">5</td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td class="noteditable" title="{% trans 'This field is done automatically' %}"></td>
      </tr>
      <tr>
        <td class="noteditable" title="{% trans 'This field is done automatically' %}">6</td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td class="noteditable" title="{% trans 'This field is done automatically' %}"></td>
      </tr>
      <tr>
        <td class="noteditable" title="{% trans 'This field is done automatically' %}">7</td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td class="noteditable" title="{% trans 'This field is done automatically' %}"></td>
      </tr>
      <tr>
        <td class="noteditable" title="{% trans 'This field is done automatically' %}">8</td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td><input value="" /></td>
          <td class="noteditable" title="{% trans 'This field is done automatically' %}"></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th id="subtotallabel" colspan="4" class="span-20"><input value="{% trans 'Subtotal' %}" /></th>
          <th id="formsubtotal" class="span-4 noteditable">0</th>
      </tr>
      <tr>
        <th id="taxrate" colspan="4" class="span-20"><input value="{% trans 'Sales Tax (20%)' %}" /></th>
          <th id="formtax" class="span-4 noteditable">0</th>
      </tr>
      <tr id="total">
        <th id="totallabel" colspan="4" class="span-20"><input value="{% trans 'Total' %}" /></th>
          <th id="formtotal" class="span-4 noteditable">0</th>
      </tr>
    </tfoot>
  </table>

  <textarea class="notes" id="texttwo" cols="95">{% blocktrans %}Many thanks for your custom! I look forward to doing business with you again in due course.

    Payment terms: to be received within 60 days.{% endblocktrans %}</textarea>

</div>

<textarea name="html" id="markup" cols="60" rows="20" style="display:none;"></textarea>
