{% load i18n %}
{% verbatim %}

<script id="invoice-template" type="text/ractive">
  {{#with invoice}}
    <div class="container-fluid" id="invoice">
      {{#if signed}}
        <div href="#" class="ribbon-wrapper signed">
          <div id="sign-invoice-spinner" class="ribbon">Signed</div>
        </div>
      {{else}}
        {{#if status === 'draft' && invoice.uuid}}
        <a on-click="sign:{{this}}" id="sign-invoice" href="#" class="ribbon-wrapper">
          <div id="sign-invoice-spinner" class="ribbon">Sign</div>
        </a>
        {{/if}}
      {{/if}}
      <div class="row">
        <input disabled="{{disabled}}" id="company" class="col-md-6 col-xs-6" value="{{company_name}}" />
        <input disabled="{{disabled}}" id="title" class="col-md-6 col-xs-6 pull-right text-right" value="{{invoice_name}}" />
      </div>
      <div class="row">
        <div id="address" class="col-md-6 col-xs-6">
          <div class="row">
            <input disabled="{{disabled}}" class="ll col-md-12 col-xs-12" value="{{address}}" />
            <input disabled="{{disabled}}" class="ll col-md-12 col-xs-12" value="{{city}}" />
            <input disabled="{{disabled}}" class="ll col-md-12 col-xs-12" value="{{address_second}}" />
            <input disabled="{{disabled}}" style="margin-top:20px;" class="ll col-md-12 col-xs-12" value="{{phone}}" />
            <input disabled="{{disabled}}" style="margin-bottom:30px;" class="ll col-md-12 col-xs-12" value="{{email}}" />
          </div>
        </div>
        <div id="meta" class="col-md-6 col-xs-6">
          <div class="row">
            <input disabled="{{disabled}}" id="date" class="rr col-md-12 col-xs-12" value="{{date()}}" />
            <input disabled="{{disabled}}" class="rr col-md-12 col-xs-12" value="{{invoice_uid}}" />
            <input disabled="{{disabled}}" class="rr col-md-12 col-xs-12" value="{{invoice_po}}" />
            <input disabled="{{disabled}}" style="margin-top:20px;" class="client rr col-md-12 col-xs-12" value="{{client_name}}" />
            <input disabled="{{disabled}}" style="margin-bottom:30px;" class="client rr col-md-12 col-xs-12" value="{{client_company}}" />
          </div>
        </div>
      </div>

    <hr>

    <div class="row">
      <textarea disabled="{{disabled}}" value="{{notes_top}}" class="notes col-md-10 col-md-push-1 col-xs-10 col-xs-push-1" id="textone">{{notes_top}}</textarea>
    </div>

    <div class="row" style="position:relative;">
      {{#if status === 'draft' }}
        <ul class="table-manage">
          <li>
          <a class="label label-danger" id="delRow" onclick="app.tasks.fire('destroy');return false;" href="#" title="Delete Row">
            <span class="glyphicon glyphicon-minus"></span>
          </a>
          </li>
          <li>
            <a class="label label-success" id="addRow" onclick="app.tasks.fire('add');return false;" href="#" title="Add Row">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </li>
        </ul>
      {{/if}}
      <table>
        <thead>
        <tr>
          <th class="span-1"><input disabled="{{disabled}}" value="#" /></th>
          <th class="span-14"><input on-focus="focus" on-blur="blur" disabled="{{disabled}}" value="{{headers.h_description}}" /></th>
          <th class="span-3"><input on-focus="focus" on-blur="blur" disabled="{{disabled}}" value="{{headers.h_quantity}}" /></th>
          <th class="span-3"><input on-focus="focus" on-blur="blur" disabled="{{disabled}}" value="{{headers.h_unit_price}}" /></th>
          <th class="span-3"><input on-focus="focus" on-blur="blur" disabled="{{disabled}}" value="{{headers.h_total}}" /></th>
        </tr>
        </thead>
        <tbody id="task-list"></tbody>
        <tfoot>
          <tr>
            <th id="subtotallabel" colspan="4" class=""><input disabled="{{disabled}}" value="{{headers.subtotal}}" /></th>
            <th id="formsubtotal" class="noteditable">{{format(subtotal)}}</th>
          </tr>

          <tr data-toggle="tooltip" data-placement="bottom" title="Auto calculation the tax rate percentage">
            <th id="taxrate" colspan="4" class="">
              <input disabled="{{disabled}}" value="{{headers.tax}}" />
            </th>
            <th id="formtax" class="noteditable">{{format(tax)}}</th>
          </tr>

          <tr id="total">
            <th id="totallabel" colspan="4" class=""><input disabled="{{disabled}}" value="{{headers.total}}" /></th>
            <th id="formtotal" class="noteditable">{{format(total)}}</th>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="row">
      <textarea disabled="{{disabled}}" value="{{notes_bottom}}" class="notes col-md-10 col-md-push-1 col-xs-10 col-xs-push-1" id="texttwo">{{notes_bottom}}</textarea>
    </div>

    </div>
  {{/with}}

  {{#if invoice.histories}}
  <div class="" id="invoice-history">
  <h3 class="text-center">{{text.history_title}}</h3>
    <ul class="list-group">
      {{#each invoice.histories}}
      <li class="list-group-item clearfix">
        <span class="label label-success">{{action_display}}</span>
        <span>{{#if email}} {{email}}{{/if}}</span>
        <br class="hidden-md hidden-lg">
        <span class="pull-right">{{history_date(date_added)}}</span>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

</script>


<script id="task-template" type="text/ractive">
{{#each tasks:i}}
  <tr>
    <td class="noteditable span-1" title="This field is done automatically">{{i+1}}</td>
    <td class="span-14"><input on-focus="focus" on-blur="blur" disabled="{{disabled}}" value="{{description}}" /></td>
    <td class="span-3"><input on-focus="focus" on-blur="blur" disabled="{{disabled}}" value="{{quantity}}" /></td>
    <td class="span-3"><input on-focus="focus" on-blur="blur" disabled="{{disabled}}" value="{{unit_price}}" /></td>
    <td class="noteditable span-3" title="This field is done automatically">{{format(total)}}</td>
  </tr>
{{/each}}
</script>


<script id="invoice-list-template" type="text/ractive">
  <div class="nano-content">
    {{#each invoices:i}}
    <a data-uuid="{{uuid}}" on-click="activate:{{this}}" title="{{invoice_uid}}" href="#{{status}}/{{uuid}}" class="list-group-item">
      {{#if status == 'draft'}}
        {{client_name}}
        <small>({{client_company}})</small>
      {{/if}}
      {{#if status == 'sent'}}
        {{client_name}}
        <small>({{client_company}})</small>
        <small><span class="label label-default">{{recipient_email}}</span></small>
      {{/if}}
      {{#if status == 'recieved'}}
        {{company_name}}
        <small><span class="label label-default">{{email}}</span></small>
      {{/if}}
      <br><small><i>{{date_short(date_added)}}</i></small>
      {{#if !disabled || status=='draft'}}
      <i tltle="Delete invoice" on-click="delete:{{this}}" class="btn-remove glyphicon glyphicon-remove pull-right"></i>
      {{/if}}
    </a>
    {{/each}}
    {{#unless invoices}}
      <span class="list-group-item">
        No invoices
      </span>
    {{/unless}}
  </div>
</script>


<script id="invoice-actions-template" type="text/ractive">
<div class="row">
  <div class="col-md-9 col-sm-9 col-md-push-3 col-sm-push-3">
      {{#if user.authenticated}}
        <a role="button" id="new-invoice"
          onclick="app.invoice.fire('new');return false;"
          class="btn btn-primary navbar-btn btn-actions" href="#">{{text.create_new}}</a>

        <a role="button" id="get-pdf"
          onclick="app.invoice.fire('generate_pdf');return false;"
          class="btn btn-primary navbar-btn btn-actions" href="#">{{text.get_pdf}}</a>

        {{#unless status === 'recieved'}}
          <a role="button" id="copy-invoice" onclick="app.invoice.fire('copy');return false;"
            class="btn btn-primary navbar-btn btn-actions" href="#">{{text.copy}}</a>
        {{/unless}}

        {{#if status === 'draft' }}
          <a role="button" id="save-invoice"
            onclick="app.invoice.fire('save');return false;"
            class="btn btn-primary navbar-btn btn-actions" href="#">{{text.save}}</a>

          <a role="button" id="send-invoice"
            onclick="app.invoice.fire('send');return false;"
            data-trigger="manual" data-html="true"
            data-toggle="popover" data-placement="bottom"
            data-content="<input style='width:200px' type='text' class='form-control' name='client_email' placeholder='Enter client email'>"
            class="btn btn-primary navbar-btn btn-actions" href="#">{{text.send}}</a>
          <a role="button" id="delete-invoice"
            onclick="app.invoice.fire('delete');return false;"
            class="{{ invoice.uuid && !invoice.disabled || status=="draft" ? '' : 'disabled' }} btn btn-danger navbar-btn btn-actions" href="#">{{text.delete}}</a>
        {{/if}}

      {{else}}
      <a role="button" id="get-pdf"
        onclick="app.invoice.fire('generate_pdf');return false;"
        class="btn btn-primary navbar-btn btn-actions" href="#">{{text.get_pdf}}</a>
      {{/if}}
  </div>

</div>
</script>


<script id="invoice-list-filter-template" type="text/ractive">
  {{#if user.authenticated}}
  <p class="navbar-text navbar-right pull-right hidden-sm">{{active_status}}</p>
  <div class="btn-group navbar-btn" data-toggle="buttons">
    <label class="btn btn-default btn-draft active" on-click="filter:'draft'">
      <div data-toggle="tooltip" data-placement="bottom" title="{{text.status.draft}}">
        <i class="glyphicon glyphicon-saved"></i>
        <input type="radio" name="options" value="draft" checked>
      </div>
    </label>

    <label class="btn btn-default btn-sent" on-click="filter:'sent'">
      <div data-toggle="tooltip" data-placement="bottom" title="{{text.status.sent}}">
        <i class="glyphicon glyphicon-export"></i>
        <input type="radio" name="options" value="sent">
      </div>
    </label>

    <label class="btn btn-default btn-recieved" on-click="filter:'recieved'">
      <div data-toggle="tooltip" data-placement="bottom" title="{{text.status.recieved}}">
        <i class="glyphicon glyphicon-import"></i>
        <input type="radio" name="options" value="recieved">
      </div>
    </label>
  </div>
  {{else}}
  <p class="navbar-text navbar-right pull-right">Download PDF Invoice!</p>
  {{/if}}
</script>

{% endverbatim %}
