{% load i18n %}
{% verbatim %}

<script id="invoice-template" type="text/ractive">
  {{#with invoice}}
    <div class="container-fluid" id="invoice">
      <div class="row">
        <input disabled="{{disabled}}" id="company" class="col-md-6 col-xs-6" value="{{company_name}}" />
        <input disabled="{{disabled}}" id="title" class="col-md-6 col-xs-6 pull-right text-right" value="{{invoice_name}}" />
      </div>
      <div class="row">
        <div id="address" class="col-md-6 col-xs-6">
          <div class="row">
            <input disabled="{{disabled}}" class="ll col-md-12 col-xs-12" value="{{address}}" />
            <input disabled="{{disabled}}" class="ll col-md-12 col-xs-12" value="{{city}}" />
            <input disabled="{{disabled}}" class="ll col-md-12 col-xs-12" value="{{address_second}}" />
            <input disabled="{{disabled}}" style="margin-top:20px;" class="ll col-md-12 col-xs-12" value="{{phone}}" />
            <input disabled="{{disabled}}" style="margin-bottom:30px;" class="ll col-md-12 col-xs-12" value="{{email}}" />
          </div>
        </div>
        <div id="meta" class="col-md-6 col-xs-6">
          <div class="row">
            <input disabled="{{disabled}}" id="date" class="rr col-md-12 col-xs-12" value="{{date()}}" />
            <input disabled="{{disabled}}" class="rr col-md-12 col-xs-12" value="{{invoice_uid}}" />
            <input disabled="{{disabled}}" class="rr col-md-12 col-xs-12" value="{{invoice_po}}" />
            <input disabled="{{disabled}}" style="margin-top:20px;" class="client rr col-md-12 col-xs-12" value="{{client_name}}" />
            <input disabled="{{disabled}}" style="margin-bottom:30px;" class="client rr col-md-12 col-xs-12" value="{{client_company}}" />
          </div>
        </div>
      </div>

    <hr>

    <div class="row">
      <textarea disabled="{{disabled}}" class="notes col-md-10 col-md-push-1 col-xs-10 col-xs-push-1" id="textone" cols="95" rows="1">{{notes_top}}</textarea>
    </div>


    <div class="row">
      <table class="col-md-12">
        <thead>
        <tr>
          <th class="span-2"><input disabled="{{disabled}}" value="#" /></th>
          <th class="span-10"><input disabled="{{disabled}}" value="{{headers.h_description}}" /></th>
          <th class="span-4"><input disabled="{{disabled}}" value="{{headers.h_quantity}}" /></th>
          <th class="span-4"><input disabled="{{disabled}}" value="{{headers.h_unit_price}}" /></th>
          <th class="span-4"><input disabled="{{disabled}}" value="{{headers.h_total}}" /></th>
        </tr>
        </thead>
        <tbody id="task-list"></tbody>
        <tfoot>
          <tr>
            <th id="subtotallabel" colspan="4" class="span-20"><input disabled="{{disabled}}" value="{{headers.subtotal}}" /></th>
            <th id="formsubtotal" class="span-4 noteditable">{{format(subtotal)}}</th>
          </tr>
          <tr>
            <th id="taxrate" colspan="4" class="span-20"><input disabled="{{disabled}}" value="{{headers.tax}}" /></th>
            <th id="formtax" class="span-4 noteditable">{{format(tax)}}</th>
          </tr>
          <tr id="total">
            <th id="totallabel" colspan="4" class="span-20"><input disabled="{{disabled}}" value="{{headers.total}}" /></th>
            <th id="formtotal" class="span-4 noteditable">{{format(total)}}</th>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="row">
      <textarea disabled="{{disabled}}" class="notes col-md-10 col-md-push-1 col-xs-10 col-xs-push-1" id="texttwo" cols="95">{{notes_bottom}}</textarea>
    </div>

    </div>
  {{/with}}

  {{#if invoice.histories}}
  <div class="" id="invoice-history">
  <h3>{{text.history_title}}</h3>
    <ul class="list-group">
      {{#each invoice.histories}}
      <li class="list-group-item">
        <span class="label label-success">{{action_display}}</span>
        <span>{{#if email}} {{email}}{{/if}}</span>
        <span class="pull-right">{{history_date(date_added)}}</span>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

</script>

<script id="task-template" type="text/ractive">
{{#each tasks:i}}
  <tr>
  <td class="noteditable" title="{% trans 'This field is done automatically' %}">{{i+1}}</td>
    <td><input disabled="{{disabled}}" value="{{description}}" /></td>
    <td><input disabled="{{disabled}}" value="{{quantity}}" /></td>
    <td><input disabled="{{disabled}}" value="{{unit_price}}" /></td>
    <td class="noteditable" title="{% trans 'This field is done automatically' %}">{{format(total)}}</td>
  </tr>
{{/each}}
</script>

<script id="invoice-list-template" type="text/ractive">
<h5 class="pull-right invoice-list-title">{{active_status}}</h5>
  <div class="btn-group btn-group" data-toggle="buttons">
    <label class="btn btn-default btn-draft active" on-click="filter:'draft'">
      <div data-toggle="tooltip" data-placement="bottom" title="{{status.draft}}">
        <i class="glyphicon glyphicon-saved"></i>
        <input type="radio" name="options" value="draft" checked>
      </div>
    </label>

    <label class="btn btn-default btn-sent" on-click="filter:'sent'">
      <div data-toggle="tooltip" data-placement="bottom" title="{{status.sent}}">
        <i class="glyphicon glyphicon-export"></i>
        <input type="radio" name="options" value="sent">
      </div>
    </label>

    <label class="btn btn-default btn-recieved" on-click="filter:'recieved'">
      <div data-toggle="tooltip" data-placement="bottom" title="{{status.recieved}}">
        <i class="glyphicon glyphicon-import"></i>
        <input type="radio" name="options" value="recieved">
      </div>
    </label>
  </div>
  {{#each invoices:i}}
  <a data-uuid="{{uuid}}" on-click="activate:{{this}}" title="{{invoice_uid}}" href="#{{status}}/{{uuid}}" class="list-group-item">
    {{#if status == 'draft'}}
      {{client_name}}
      <small>({{client_company}})</small>
    {{/if}}
    {{#if status == 'sent'}}
      {{client_name}}
      <small>({{client_company}})</small>
      <small><span class="label label-default">{{recipient_email}}</span></small>
    {{/if}}
    {{#if status == 'recieved'}}
      {{company_name}}
      <small>({{email}}</span>)
    {{/if}}
    <br><small><i>{{date_short(date_added)}}</i></small>
    {{#unless disabled}}
    <i tltle="Delete invoice" on-click="delete:{{this}}" class="btn-remove glyphicon glyphicon-remove pull-right"></i>
    {{/unless}}
  </a>
  {{/each}}
  {{#unless invoices}}
  <span class="list-group-item">
      {{client_name}}
      No invoices
    {{/unless}}
  </span>
  {{/unless}}
</script>

<script id="invoice-actions-template" type="text/ractive">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      {{#if user.authenticated}}
      <li><a role="button" id="new-invoice" onclick="app.invoice.fire('new');return false;" href="#" class="button btn-success">{{text.create_new}}</a></li>
        <li><a role="button" id="get-pdf" onclick="app.invoice.fire('generate_pdf');return false;" class="button btn-primary" href="#">{{text.get_pdf}}</a></li>
        {{#unless status === 'recieved'}}
          <li><a role="button" id="copy-invoice" onclick="app.invoice.fire('copy');return false;" class="button btn-primary" href="#">{{text.copy}}</a></li>
        {{/unless}}
        {{#if status === 'draft' }}
          <li><a role="button" id="save-invoice" onclick="app.invoice.fire('save');return false;" class="button btn-success" href="#">{{text.save}}</a></li>
          <li class="divider"><hr></li>
          <li><a role="button" id="send-invoice" onclick="app.invoice.fire('send');return false;" data-trigger="manual" data-html="true" data-toggle="popover" data-placement="left" data-content="<input style='width:200px' type='text' class='form-control' name='client_email' placeholder='Enter client email'>" class="button btn-primary" href="#">{{text.send}}</a></li>
        {{/if}}
      {{else}}
        <li><a role="button" id="get-pdf" onclick="app.invoice.fire('generate_pdf');return false;" class="button btn-primary" href="#">{{text.get_pdf}}</a></li>
      {{/if}}
    </ul>
  </div>

  {{#if status === 'draft' }}
  <div class="tools" id="three">
    <h5>{{text.resize_table}}</h5>
    <ul>
      <li>
        <a id="addRow" onclick="app.tasks.fire('add');return false;" href="#" title="test">
          <span style="padding-right:5px;">+</span> {{text.add_row}}
        </a>
      </li>
      <li>
      <a id="delRow" onclick="app.tasks.fire('destroy');return false;" href="#">
        <span style="padding-right:5px;padding-left:1px;">&ndash;</span> {{text.delete_row}}
      </a>
      </li>
    </ul>
  </div>
  {{/if}}
</script>
{% endverbatim %}
