{% load i18n %}
<div class="container">
<form class="col-md-12" role="form" action="/generate_pdf.php" method="post">

  <input id="rowCounter" type="hidden" value="8" />

  <div id="invoice"></div>
  <textarea name="html" id="markup" cols="60" rows="20" style="display:none;"></textarea>
</form>
</div>

{% if user.is_authenticated %}
<div class="container">
  <div class="" id="invoice-history">
    <hr>
    <h3>{% trans 'Invoice History' %}</h3>
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div>
{% endif %}
{% include 'include/_invoice_detail.html' %}
