{% load i18n %}
<div class="container-fluid">

  <div class="row">
    <nav class="navbar navbar-default navbar-offcanvas offcanvas actions-nav navmenu-fixed-left" id="actions-navbar-collapse" role="navigation" data-spy="affix" data-offset-top="50">
      <div class="container-fluid">
        <div id="actions-bar">
          {% if share %}
            <div class="row">
              <div class="col-md-9 col-sm-9 col-md-push-3 col-sm-push-3">
                {% if invoice.signed %}
                <a role="button" id="get-pdf"
                  class="btn btn-primary navbar-btn btn-actions"
                  href="{% url 'invoice_pdf' invoice.uuid %}">{% trans 'Get PDF' %}</a>
                {% else %}
                <a role="button" id="get-pdf"
                  onclick="app.makeMarkup();$('#invoice-form').submit();"
                  class="btn btn-primary navbar-btn btn-actions"
                  href="#">{% trans 'Get PDF' %}</a>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>
  </div>

  <div class="row">
    <nav class="navbar navbar-offcanvas navbar-default offcanvas-xs navmenu-fixed-left affix-top" id="invoice-list-collapse" data-spy="affix" data-offset-top="50">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Invoiceto.me</a>
      </div>
      <div class="invoice-list-filter">
        <p class="navbar-text navbar-right pull-right">{% trans 'Download PDF Invoice!' %}</p>
      </div>
    </nav>

    <form id="invoice-form" class="col-md-9 col-sm-9 col-sm-push-3 col-md-push-3" role="form" action="/generate_pdf.php" method="post">
      <div class="row">
        <div class="col-sm-12 col-xs-12" id="invoice-detail">
          <div class="container-fluid" id="invoice">
            {% if invoice.signed %}
              <div class="ribbon-wrapper signed">
                <div id="sign-invoice-spinner" class="ribbon">{% trans 'Signed' %}</div>
              </div>
            {% endif %}
            <div class="row">
              <input disabled id="company" class="col-md-6 col-xs-6" value="{{invoice.company_name}}" />
              <input disabled id="title" class="col-md-6 col-xs-6 pull-right text-right" value="{{invoice.invoice_name}}" />
            </div>
            <div class="row">
              <div id="address" class="col-md-6 col-xs-6">
                <div class="row">
                  <input disabled class="ll col-md-12 col-xs-12" value="{{invoice.address}}" />
                  <input disabled class="ll col-md-12 col-xs-12" value="{{invoice.city}}" />
                  <input disabled class="ll col-md-12 col-xs-12" value="{{invoice.address_second}}" />
                  <input disabled style="margin-top:20px;" class="ll col-md-12 col-xs-12" value="{{invoice.phone}}" />
                  <input disabled style="margin-bottom:10px;" class="ll col-md-12 col-xs-12" value="{{invoice.email}}" />
                </div>
              </div>
              <div id="meta" class="col-md-6 col-xs-6">
                <div class="row">
                  <input disabled id="date" class="rr col-md-12 col-xs-12" value="{{invoice.date_added|date:"d F Y"}}" />
                  <input disabled class="rr col-md-12 col-xs-12" value="{{invoice.invoice_uid}}" />
                  <input disabled class="rr col-md-12 col-xs-12" value="{{invoice.invoice_po}}" />
                  <input disabled style="margin-top:20px;" class="client rr col-md-12 col-xs-12" value="{{invoice.client_name}}" />
                  <input disabled style="margin-bottom:10px;" class="client rr col-md-12 col-xs-12" value="{{invoice.client_company}}" />
                </div>
              </div>
            </div>

          <hr>

          <div class="row">
            <textarea disabled class="notes col-md-10 col-md-push-1 col-xs-11 col-xs-push-1" id="textone">{{invoice.notes_top}}</textarea>
          </div>


          <div class="row">
            <table>
              <thead>
              <tr>
                <th class="span-1" ><input disabled value="#" /></th>
                <th class="span-14"><input disabled value="{{invoice.headers.h_description}}" /></th>
                <th class="span-3"><input disabled value="{{invoice.headers.h_quantity}}" /></th>
                <th class="span-3"><input disabled value="{{invoice.headers.h_unit_price}}" /></th>
                <th class="span-3"><input disabled value="{{invoice.headers.h_total}}" /></th>
              </tr>
              </thead>
              <tbody id="task-list">

                {% for task in invoice.records.all %}
                  <tr>
                    <td class="noteditable">{{ forloop.counter }}</td>
                    <td class=""><input disabled value="{{task.description|default:''}}"></td>
                    <td class=""><input disabled value="{{task.quantity|default:''|floatformat:2}}"></td>
                    <td class=""><input disabled value="{{task.unit_price|default:''|floatformat:2}}"></td>
                    <td class="noteditable">{{task.total|default:'-'|floatformat:2}}</td>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th id="subtotallabel" colspan="4" class="span-20"><input disabled value="{{invoice.headers.subtotal}}" /></th>
                  <th id="formsubtotal" class="span-4 noteditable">{{invoice.subtotal|floatformat:2}}</th>
                </tr>
                <tr>
                  <th id="taxrate" colspan="4" class="span-20"><input disabled value="{{invoice.headers.tax}}" /></th>
                  <th id="formtax" class="span-4 noteditable">{{invoice.tax|floatformat:2}}</th>
                </tr>
                <tr id="total">
                  <th id="totallabel" colspan="4" class="span-20"><input disabled value="{{invoice.headers.total}}" /></th>
                  <th id="formtotal" class="span-4 noteditable">{{invoice.total|floatformat:2}}</th>
                </tr>
              </tfoot>
            </table>
          </div>

          <div class="row">
            <textarea disabled class="notes col-md-10 col-md-push-1 col-xs-10 col-xs-push-1" id="texttwo">{{invoice.notes_bottom}}</textarea>
          </div>

          </div>

        </div>
        <textarea name="html" id="markup" cols="60" rows="20" style="display:none;"></textarea>
      </div>
    </form>
  </div>
</div>
