{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block content %}

<div id="invoice" class="base-container">
  <div class="row-fluid">
    <div class="span8 offset2">
      {% blocktrans %}
      <h1>Activation</h1>
      Hello!<br/>
      Your account is activated.
      {% endblocktrans %}
      <a title="invoiceto.me - pdf generator online" href="/">{% trans 'Welcome' %}</a>{% trans ' to our site.' %}
      <br/><br/>
    </div>
  </div>
</div>
{% endblock %}
