{% extends "base.html" %}

{% block title %}{{ title|default:"Login Page" }}{% endblock %}

{% block content %}
<div id="invoice" class="base-container">
  {% if user.is_anonymous %}
    <div class="row">
      <div class="col-md-12">
          {% include "registration/login_form.html" with form=form %}
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-12">
        <h3>Login</h3>
        <p>You already logged in. You can <a href="{% url 'logout' %}">logout</a></p>
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}
