{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title|default:"Login Page" }}{% endblock %}

{% block content %}

<div id="invoice" class="container">
  <div class="row">
    <div class="col-md-12">
      {% if user.is_anonymous %}
          {% include "registration/login_form.html" with form=form %}
      {% else %}
      <h3>{% trans 'Login' %}</h3>
      <p>{% trans 'You already logged in. You can' %} <a href="{% url 'logout' %}">{% trans 'logout' %}</a></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
