{% load widget_tweaks i18n %}
<h3>{% trans 'Join on site' %} <a href="/">Invoices.pro</></a></h3>
<form enctype="multipart/form-data" action="." role="form" method="post" novalidate="novalidate">

  {% csrf_token %}
  {% if form.non_field_errors %}
    <div class="alert alert-error">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  {{ form.username.errors }}
  <div class="form-group {% if form.username.errors %}has-error{% endif %}">
    {{ form.username|add_class:"form-control"|append_attr:"placeholder:Username or email"|add_error_class:"error" }}
  </div>
  {{ form.password.errors }}
  <div class="form-group {% if form.password.errors %}has-error{% endif %}">
    {{ form.password|add_class:"form-control"|append_attr:"placeholder:Enter Password"|add_error_class:"error" }}
    <a href="{% url 'password_reset' %}" class="reset-link">{% trans 'Forgot Password?' %}</a>
    <a href="{% url 'registration_register' %}" class="register-link pull-right">{% trans 'Register account' %}</a>
  </div>

  <div class="row">
    <hr class="hr span3">
  </div>

  <button type="submit" class="btn btn-primary btn-lg">{% trans 'Sign in' %}</button>
  <input type="hidden" name="next" value="{{ next }}" />

</form>
