{% load widget_tweaks i18n %}
<form enctype="multipart/form-data" action="." id="enter-form" role="form" method="post" novalidate="novalidate">

    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-error">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    {{ form.username.errors }}
    <div class="control-group">
      {{ form.username|append_attr:"placeholder:Username or email"|add_error_class:"error" }}
    </div>
    {{ form.password.errors }}
    <div class="control-group">
      {{ form.password|append_attr:"placeholder:Enter Password"|add_error_class:"error" }}
      <a href="{% url 'password_reset' %}" class="reset-link">{% trans 'Forgot Passwrod?' %}</a>
    </div>

    <div class="row">
      <hr class="hr span3">
    </div>
    <label class="checkbox inline" id="remember-label">
      <input type="checkbox" id="remember" value="option1"> Запомнить меня
    </label>

    <button type="submit" id="enter-btn" style="width:85px;">Войти</button>
    <input type="hidden" name="next" value="{{ next }}" />

</form>
