{% extends "registration/registration_base.html" %}
{% load i18n widget_tweaks %}

{% block title %}{{ title|default:"Password Change Page" }}{% endblock %}

{% block content %}
<div id="invoice" class="container">
  <div class="row">
    <div class="col-md-12">
      <form enctype="multipart/form-data" action="" role="form" class="form password-reset-form" method="post" novalidate="">
          <h3>{% trans 'Password Reset' %} <a href="/">Invoices.pro</a></h3>
            {% csrf_token %}
            {% if form.non_field_errors %}
              <div class="alert alert-error">
                {{ form.non_field_errors }}
              </div>
            {% endif %}

            {{ form.old_password.errors }}
            <div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
              {{ form.old_password|add_class:"form-control"|append_attr:"placeholder:Old Password"|add_error_class:"error" }}
            </div>

            {{ form.new_password1.errors }}
            <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
              {{ form.new_password1|add_class:"form-control"|append_attr:"placeholder:New Password"|add_error_class:"error" }}
            </div>

            {{ form.new_password2.errors }}
            <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
              {{ form.new_password2|add_class:"form-control"|append_attr:"placeholder:New Password Again"|add_error_class:"error" }}
            </div>

            <button type="submit" class="btn btn-primary btn-lg">{% trans 'Save' %}</button>
            <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
