{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{{ title|default:"Password Reset Done Page" }}{% endblock %}

{% block content %}
  <div id="invoice" class="base-container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success alert-dismissible" role="alert">
          <b>{% trans 'Password was reseted' %}</b>
          <p>{% trans 'Thanks. Check you email for getting new password' %}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
