{% extends "registration/registration_base.html" %}
{% load i18n widget_tweaks %}

{% block title %}{{ title|default:"Password Reset Page" }}{% endblock %}

{% block content %}
<div id="invoice" class="container">
  <div class="row">
    <div class="col-md-12">
      <form enctype="multipart/form-data" action="" role="form" class="form password-reset-form" method="post" novalidate="">
          <h3>{% trans 'Password Reset' %} <a href="/">Invoices.pro</a></h3>
            {% csrf_token %}
            {% if form.non_field_errors %}
              <div class="alert alert-error">
                {{ form.non_field_errors }}
              </div>
            {% endif %}

            {{ form.email.errors }}
            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
              {{ form.email|add_class:"form-control"|append_attr:"placeholder:Enter Email"|add_error_class:"error" }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg">{% trans 'Send email' %}</button> 
            <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
