{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block title %}{{ title|default:"Password Reset confirm Page" }}{% endblock %}

{% block content %}
<div class="row">
  <div class="large-6 large-centered columns">
    {% if validlink %}
      <form enctype="multipart/form-data" action="" id="form" class="form password-change-form" method="post" novalidate="">
        <fieldset>
          <legend>Введите новый пароль</legend>
          {% csrf_token %}    
          {{ form.non_field_errors }}
          {{ form.new_password1|append_attr:"placeholder:Новый пароль"|add_error_class:"error" }}
          {{ form.new_password1.errors }}
          {{ form.new_password2|append_attr:"placeholder:Подтверждение нового пароля"|add_error_class:"error" }}
          {{ form.new_password2.errors }}
          <input class="button" value="Подтвердить" type="submit">
          <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
      </form>
     
    {% else %}
      <p>Сссылка сброса пароля неверная</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
    {% if validlink %}
      <form enctype="multipart/form-data" action="" id="form" class="form password-change-form" method="post" novalidate="">
        <fieldset>
          <legend>Введите новый пароль</legend>
          {% csrf_token %}    
          {{ form.non_field_errors }}
          {{ form.new_password1|append_attr:"placeholder:Новый пароль"|add_error_class:"error" }}
          {{ form.new_password1.errors }}
          {{ form.new_password2|append_attr:"placeholder:Подтверждение нового пароля"|add_error_class:"error" }}
          {{ form.new_password2.errors }}
          <input class="button" value="Подтвердить" type="submit">
          <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
      </form>
     
    {% else %}
      <p>Сссылка сброса пароля неверная</p>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}
