{% extends 'default.html' %}
{% load i18n widget_tweaks %}

{% block pagetitle %}Сброс пароля - hackpoint.ru{% endblock %}

{% block content %}
<div class="row">
  <div class="large-6 large-centered columns">
    <form enctype="multipart/form-data" action="" id="form" class="form password-reset-form" method="post" novalidate="">
      <fieldset>
        <legend>Сброс пароля</legend>
          {% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.email|append_attr:"placeholder:Ваш email"|add_error_class:"error" }}
          {{ form.email.errors }}
          <input value="Отправить письмо" type="submit" class="button">
          <input type="hidden" name="next" value="{{ next }}" />
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
