{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block title %}{{ title|default:"Password Reset Confirm Page" }}{% endblock %}

{% block content %}

<div id="invoice" class="base-container">
  <div class="row">
    <div class="col-md-12">
    {% if validlink %}
      <form enctype="multipart/form-data" action="" id="form" class="form password-change-form" method="post" novalidate="">
        <h3>{% trans 'Set New Password' %}</h3>
        {% csrf_token %}    
        {% if form.non_field_errors %}
          <div class="alert alert-error">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        {{ form.new_password1.errors }}
        <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
          {{ form.new_password1|add_class:"form-control"|append_attr:"placeholder:New password"|add_error_class:"error" }}
        </div>
        {{ form.new_password2.errors }}
        <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
          {{ form.new_password2|add_class:"form-control"|append_attr:"placeholder:Confirm new password"|add_error_class:"error" }}
        </div>

        <div class="row">
          <hr class="hr span3">
        </div>

        <button type="submit" class="btn btn-primary btn-lg">{% trans 'Submit' %}</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
     
    {% else %}
      <p>{% trans 'Password reset link is not valid' %}</p>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}
