{% extends 'default.html' %}
{% load i18n widget_tweaks %}

{% block content %}

<div class="row">
  <div class="large-8 columns">
    <form role="form" method="POST" action="" id="register-form">

      <fieldset>
        <legend>
          <h3 class="label label-black">{% trans 'Register' %}</h3>
        </legend>
        {% csrf_token %}
        {% for field in form %}
          <div class="row">
            <div class="large-16 columns">
              {% if field.html_name == 'subscribed' %}
                <label for="id_subscribed">
                  {{ field|add_error_class:"error" }}
                  {{ field.label|safe }}
                  {{ field.errors }}
                </label>
                <br>
              {% else %}
                {{ field.label_tag }}
                {% if field.label.required %}
                  <span class="required has-tip" data-tooltip title="{% trans 'Field is required' %}">*</span>
                {% endif %}
                {{ field|add_error_class:"error" }}
                {{ field.errors }}
              {% endif %}
            </div>
          </div>
        {% endfor %}

      </fieldset>
      <input type="submit" class="btn btn-default" value="{% trans 'register' %}">
    </form>
  </div>

</div>

{% endblock %}
