{% extends "base.html" %}

{% block body %}
<p class="text-info">Создание студента, шаг {{ wizard.steps.step1 }} из {{ wizard.steps.count }}</p>
    <h3>{% block title_wizard %}{% endblock %}</h3>
    <form class="well form-horizontal" action="" method="post" id="signupForm">
        {% csrf_token %}
        {{ wizard.management_form }}
        <div class="control-group">
            {% block form_wizard %}
            {% endblock %}
        </div>
        <div class="form-actions" style="padding-left: 50%">
            {% block button_wizard %}
            {% endblock %}
        </div>
    </form>
{% endblock %}



<form class="form-horizontal" action="" method="post" id="signupForm">
    {% csrf_token %}
    {{ wizard.management_form }}
    <fieldset>
        {% include "registration/wiz_input_field.html" with f=wizard.form.username %}
        {% include "registration/wiz_input_field.html" with f=wizard.form.password1 %}
        {% include "registration/wiz_input_field.html" with f=wizard.form.password2 %}
        {% include "registration/wiz_input_field.html" with f=wizard.form.name %}
        {% include "registration/wiz_input_field.html" with f=wizard.form.country %}
        {% include "registration/wiz_input_field.html" with f=wizard.form.email %}
        {% include "registration/wiz_input_field.html" with f=wizard.form.security_question %}
        {% include "registration/wiz_input_field.html" with f=wizard.form.security_answer %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Continue</button>
            <button class="btn">Cancel</button>
        </div>
    </fieldset>
</form>