{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>Signup <span class="divider">></span></li>
                <li>Contact Information <span class="divider">></span></li>
                <li class="active">Credit Card</li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span7">
            <form class="form-horizontal" action="" method="post" id="signupForm">
                {% csrf_token %}
                {{ wizard.management_form }}
                <fieldset>
                    {% include "registration/wiz_input_field.html" with f=wizard.form.cc_number %}
                    {% include "registration/wiz_input_field.html" with f=wizard.form.month %}
                    {% include "registration/wiz_input_field.html" with f=wizard.form.year %}
                    {% include "registration/wiz_input_field.html" with f=wizard.form.security_code %}
                    <div class="form-actions">
                        <!--<button name="wizard_goto_step" class="btn btn-primary" type="submit" value="{{ wizard.steps.prev }}">Previous</button>-->
                        <button type="submit" class="btn btn-primary" id="submitNext">Continue</button>
                        <button class="btn">Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="span4">
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert">
                        <strong>Warning!</strong> <p>For anonymity, we only ask
                        for Credit Card number.  The data is only held by our
                        credit card processor and QuantGo can only get the last 4
                        digits of the card. To validate the card, we will charge $1
                        to it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- <script src="{{ STATIC_URL }}js/registration/wiz_signup.js"></script> -->

{% endblock %}
