{% load i18n %}
{% verbatim %}


<script id="profile-template" type="text/ractive">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Profile Settings</h4>
      </div>
      <div class="modal-body">
        {{#if user.authenticated}}

          <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#tab-account" aria-controls="home" role="tab" data-toggle="tab">Account</a></li>
              <li role="presentation"><a href="#tab-payment" aria-controls="tab-payment" role="tab" data-toggle="tab">Payment</a></li>
              <li role="presentation"><a href="#tab-social" aria-controls="tab-social" role="tab" data-toggle="tab">Social</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="tab-account">
                <br>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-6">
                      <input disabled="" type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{user.email}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" value="{{user.first_name}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputLastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" value="{{user.last_name}}">
                    </div>
                  </div>
                </form>
              </div>

              <div role="tabpanel" class="tab-pane" id="tab-payment">
                {{#user.stripes}}
                  <dl class="dl-horizontal">
                    <dt>Access Token</dt>
                    <dd>{{access_token}}</dd>
                    <dt>Refresh Token</dt>
                    <dd>{{refresh_token}}</dd>
                    <dt>Stripe Publishable Key</dt>
                    <dd>{{stripe_publishable_key}}</dd>
                    <dt>Stripe User ID</dt>
                    <dd>{{stripe_user_id}}</dd>
                  </dl>
                  <p>
                    <a disabled="" href="/api/stripe_connect/" class="stripe-connect btn disabled"><span>Stripe Connected</span></a>
                  </p>
                {{/user.stripes}}
                {{#unless user.stripes}}
                  <p>
                    <a href="/api/stripe_connect/" class="stripe-connect btn"><span>Stripe Connected</span></a>
                  </p>
                {{/unless}}
              </div>
              <div role="tabpanel" class="tab-pane" id="tab-social">...</div>
            </div>

          </div>
        {{else}}
        <p>You are not logged</p>
        {{/if}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button on-click="save" type="button" class="btn btn-primary">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

</script>

{% endverbatim %}
